<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Frequently Asked Questions</title>
  </head>
  <body>
    <%- include('navbar') %>

    <div class="faq container mx-auto mt-[70px]">
      <div class="question-1">
        <div class="question p-2 font-bold">
          What technologies do you use in Web GIS development?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          Not limited to the following but or Front-end: HTML, CSS, Vanila JS,
          TailwindCSS, React and for back-end: NodeJS, Express and MongoDB for
          database, for GIS front-end libraries Leaflet and Mapbox and for
          backend WFS WMS: Geoserver
        </div>
      </div>
      <div class="question-2">
        <div class="question p-2 font-bold">
          Can you provide examples of Web GIS projects you've worked on?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          Sure, send me a message.
        </div>
      </div>
      <div class="question-3">
        <div class="question p-2 font-bold">
          What services do you offer as a Web GIS Full Stack Developer?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          All sorts of custom Web GIS solutions. I have listed them all in my
          services section in home page. Message me for a detailed discussion
          for your custom Web GIS application.
        </div>
      </div>
      <div class="question-4">
        <div class="question p-2 font-bold">
          What is the typical process for developing a Web GIS application?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          It varies project to project.
        </div>
      </div>
      <div class="question-5">
        <div class="question p-2 font-bold">
          Do you provide maintenance and support for Web GIS applications after
          development?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">Yes, I do.</div>
      </div>

      <div class="question-6">
        <div class="question p-2 font-bold">
          Can you integrate existing GIS data into a new web application?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">Yes, I can.</div>
      </div>

      <div class="question-7">
        <div class="question p-2 font-bold">
          What mapping libraries and frameworks do you commonly use?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          Not limited to these but I mainly use Leaflet, Mapbox, OpenLayers,
          OpenStreetMap and Google Maps API.
        </div>
      </div>

      <div class="question-8">
        <div class="question p-2 font-bold">
          Can you optimize GIS applications for mobile devices?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          If you are asking for Mobile Responsive Web GIS Application, then yes.
        </div>
      </div>

      <div class="question-9">
        <div class="question p-2 font-bold">
          Do you provide training or documentation for clients using your GIS
          applications?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">Yes, I do.</div>
      </div>

      <div class="question-10">
        <div class="question p-2 font-bold">
          How do you handle geocoding and reverse geocoding in your
          applications?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          Using Python. There are dedicated libraries in python to geocode and
          reverse geocode.
        </div>
      </div>

      <div class="question-11">
        <div class="question p-2 font-bold">
          Great! I wanna hire you. How do I contact you?
        </div>
        <div class="answer p-2 border bg-gray-100 mb-9">
          You can reach me on my social media handles (all mentioned on the Home
          Page) or you can send me a message
          <a class="text-bold text-blue-600" href="/send-message">here</a>
        </div>
      </div>
    </div>

    <%- include('footer') %>
  </body>
</html>
