<div class="bg-gray-300 text-gray-400 text-md text-center">
  <div class="w-[700px] mx-auto py-[50px]">
    <p class="shadow-2xl shadow-gray-400">
      <span>&copy;</span> 2024 - Zain Ul Abdin
    </p>
  </div>
</div>
