<ul
  class="h-45 bg-gray-800 text-white text-3xl bg-gradient-to-b from-gray-800 to-gray-300 via-gray-700"
>
  <div
    class="container mx-auto flex w-[500px] justify-between justify-center items-center cursor-pointer"
  >
    <li>
      <a href="https://www.fiverr.com/zainulabdin1995"
        ><img
          class="w-[200px] hover:scale-150 duration-300 hover:border hover:border-yellow-400 hover:border-[10px] rounded-full"
          src="fiverr.png"
      /></a>
    </li>
    <li>
      <a href="https://www.upwork.com/freelancers/~018aca001fdabe7500"
        ><img class="w-[200px] hover:scale-150 duration-300" src="upwork.png"
      /></a>
    </li>
  </div>
</ul>
