<div class="hero flex container mx-auto">
  <div class="hero-main w-[33%]">
    <div class="main-heading">
      <p class="text-[50px] text-gray-500">I'm</p>
      <h1 class="text-[40px] font-bold text-white relative">
        <span
          class="border-b-2 border-yellow-500 absolute bottom-0 left-0 right-1/2 pt-[30px]"
        ></span>
        Zain Ul Abdin
      </h1>
    </div>
    <div
      class="main-sub-heading ml-[10px] pt-[30px] text-xl text-gray-300 w-[90%] mx-auto"
    >
      A
      <span class="bg-yellow-400 p-1 text-gray-900 font-bold rounded"
        >GIS Developer</span
      >
      who provides services for Geographic Information Systems (GIS) Analysis
      and Web GIS Solutions Development for all businesses with more than 2
      years of experience
    </div>
  </div>
  <div class="hero-img w-[33%]">
    <img
      class="object-cover w-full h-full z-10 shadow-xl shadow-gray-900 rounded-full border border-gray-400 border-opacity-0"
      src="profile_picture.jpeg"
    />
  </div>
  <div class="hero-side pt-[50px] ml-[50px] text-gray-300 mx-auto text-md p-3">
    Let's build GIS products and visualize GIS data with my services
    <div class="hero-side-social-media">
      <ul class="flex gap-6 p-3 text-3xl pt-[50px]">
        <li
          class="text-yellow-400 hover:scale-125 cursor-pointer hover:text-blue-400 duration-300"
        >
          <a href="https://www.facebook.com/profile.php?id=100055583803598"
            ><i class="fab fa-facebook"></i
          ></a>
        </li>
        <li
          class="text-yellow-400 hover:scale-125 cursor-pointer hover:text-blue-400 duration-300"
        >
          <a href="https://www.instagram.com/zainulabdin1995/"
            ><i class="fab fa-instagram"> </i
          ></a>
        </li>
        <li
          class="text-yellow-400 hover:scale-125 cursor-pointer hover:text-blue-400 duration-300"
        >
          <a href="https://www.linkedin.com/in/zain-ul-abdin-07b91a204/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li
          class="text-yellow-400 hover:scale-125 cursor-pointer hover:text-blue-400 duration-300"
        >
          <i class="fab fa-github"></i>
        </li>
      </ul>

      <div class="download-pdf flex gap-4 items-center">
        <a href="/download-pdf"
          ><button
            class="bg-yellow-200 p-[10px] rounded-md text-gray-700 font-bold text-xl mt-[50px] hover:bg-blue-200 hover:gray-500 hover:shadow duration-300"
          >
            Download CV / Resume
          </button></a
        >
        <a href="/send-message"
          ><button
            class="bg-blue-200 p-[10px] rounded-md text-gray-700 font-bold text-xl mt-[50px] hover:gray-500 hover:shadow duration-300 hover:bg-yellow-300 hover:scale-125 border border-gray-900 border-[2px]"
          >
            Send Message
          </button></a
        >
      </div>
    </div>
  </div>
</div>
