<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('navbar') %>

    <form
      class="p-[20px] w-[400px] mx-auto mt-[160px] shadow-lg shadow-gray-700 rounded-xl text-xl p-3"
    >
      <h1 class="pb-[30px] text-3xl">Log In</h1>
      <label class="block p-2" for="email">Email</label>
      <input
        class="rounded-md p-2 w-full text-sm border border-gray-800"
        type="text"
        name="email"
      />
      <div
        class="email error text-sm text-gray-400 font-bold items-center ml-[10px] mt-[5px]"
      ></div>
      <label class="block p-2" for="password">Password</label>
      <input
        class="rounded-md p-2 w-full text-sm border border-gray-800"
        type="password"
        name="password"
      />
      <div
        class="password error text-sm text-gray-400 font-bold items-center ml-[10px] mt-[5px]"
      ></div>
      <div class="flex justify-center">
        <button
          class="m-3 p-2 items-center bg-yellow-200 rounded-lg text-[17px] px-[30px] hover:bg-blue-200 hover:gray-500 hover:shadow duration-300"
        >
          Log In
        </button>
      </div>
      <div class="direct-sign-in text-center text-sm mt-3">
        New here?
        <span class="text-red-700"
          ><a href="/signup">Create an account</a></span
        >
      </div>
    </form>

    <script>
      const form = document.querySelector("form");
      let emailError = document.querySelector(".email.error");
      let passwordError = document.querySelector(".password.error");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        emailError.textContent = "";
        passwordError.textContent = "";

        const email = form.email.value;
        const password = form.password.value;

        try {
          const res = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "Content-type": "application/json" },
          });
          const data = await res.json();

          if (data.error === "User not found") {
            emailError.textContent = "User not found";
          }

          if (data.error === "Incorrect Password") {
            passwordError.textContent = "Password Incorrect";
          }

          if (data.user) {
            location.assign("/");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
