<div class="service bg-gray-800 text-white flex justify-between p-[40px]">
  <div class="mx-auto container">
    <div class="main-div">
      <h1 class="text-3xl text-center font-bold text-white relative p-4">
        What can I do for you...
        <span
          class="border-b-2 border-yellow-500 absolute bottom-3 left-9 right-1/2 pt-[30px]"
        ></span>
      </h1>
      <p class="text-gray-400 text-sm p-4">
        It is easier to entrust the work to expert because they are able to
        provide best results with reliable product
      </p>
    </div>
    <div class="side-div">
      <div class="gig flex p-3 items-center">
        <div class="gig-image">
          <img
            class="w-[300px] rounded-full"
            src="interactive-web-mapping.jpeg"
          />
        </div>
        <div class="gig-desciption p-3">
          <div class="gig-title p-4 text-center text-xl font-bold rounded">
            Interactive Web Mapping with Authentication
          </div>

          <div class="gig-brief-desc">
            Create dynamic interactive web maps with secure authentication
            features. Engage your audience with personalized map experiences
            while ensuring data privacy and access control. Seamlessly integrate
            authentication protocols to provide a secure environment for sharing
            sensitive spatial information.
          </div>
        </div>
      </div>
      <div class="gig flex p-3">
        <div class="gig-desciption p-3">
          <div class="gig-title p-4 text-center text-xl font-bold rounded">
            Geospatial Analysis
          </div>
          <div class="gig-brief-desc">
            Unlock the power of location data with precise geospatial analysis.
            Gain insights, make informed decisions, and visualize spatial
            relationships effectively. Harness the spatial dimension to optimize
            resource allocation, mitigate risks, and drive business success.
          </div>
        </div>

        <div class="gig-image">
          <img class="w-[300px] rounded-full" src="geospatial-analysis.jpeg" />
        </div>
      </div>
      <div class="gig flex p-3">
        <div class="gig-image">
          <img
            class="w-[300px] rounded-full"
            src="gis-workflows-automation.jpeg"
          />
        </div>
        <div class="gig-desciption p-3">
          <div class="gig-title p-4 text-center text-xl font-bold rounded">
            GIS Workflows Automation
          </div>
          <div class="gig-brief-desc">
            Streamline GIS workflows with custom Python automation solutions.
            Automate repetitive tasks, enhance efficiency, and maximize
            productivity in your spatial analysis processes. Harness the power
            of Python scripting to seamlessly integrate data processing,
            analysis, and visualization in your GIS environment.
          </div>
        </div>
      </div>
      <div class="gig flex p-3">
        <div class="gig-desciption p-3">
          <div class="gig-title p-4 text-center text-xl font-bold rounded">
            GIS Database Administration
          </div>
          <div class="gig-brief-desc">
            Offering expert GIS database administration services to optimize
            data management and performance. Ensure seamless operation, data
            integrity, and scalability of your GIS databases. Implement best
            practices for data organization, maintenance, and security to
            support your spatial analysis needs effectively.
          </div>
        </div>

        <div class="gig-image">
          <img
            class="w-[300px] rounded-full"
            src="gis-database-administration.jpeg"
          />
        </div>
      </div>
      <div class="gig flex p-3">
        <div class="gig-image">
          <img
            class="w-[300px] rounded-full"
            src="qgis-plugin-development.jpg"
          />
        </div>
        <div class="gig-desciption p-3">
          <div class="gig-title p-4 text-center text-xl font-bold rounded">
            QGIS Plugin Development
          </div>
          <div class="gig-brief-desc">
            Specializing in QGIS plugin development to enhance your geospatial
            analysis capabilities. Customize QGIS with tailored plugins to
            streamline workflows, automate tasks, and extend functionality. From
            simple tools to complex algorithms, empower your GIS projects with
            bespoke solutions built to your specifications.
          </div>
        </div>
      </div>
      <div class="gig flex p-3">
        <div class="gig-image"></div>
        <div class="gig-desciption p-3">
          <div class="gig-title p-4 text-center text-xl font-bold rounded">
            Digitization
          </div>
          <div class="gig-brief-desc">
            Expert GIS specialist offering precise and efficient GIS map
            digitization services. Transform your paper maps into digital
            formats for enhanced accessibility, analysis, and integration.
            Ensure accuracy and reliability in your spatial data with meticulous
            digitization techniques.
          </div>
        </div>

        <div class="gig-image">
          <img class="w-[300px] rounded-full" src="digitization.jpeg" />
        </div>
      </div>
    </div>
  </div>
</div>
